*{
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgreen;
}

p{
    color: black;
    font-size: 20px;
    font-weight: bolder;

}


.oscuro{
    background-color: red;
    width: 0 auto;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px 500px 100px 500px;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.historia{
    text-align: center;
    letter-spacing: 3px;
    font-style: italic;
}

.tripulacion{
    text-align: center;
    font-weight: bolder;
}

.leela{
    display: flexbox;
}

.fry{
    display: block;
}

.bender{
    display: block;
}

.amy{
    display: flexbox;
}

.hermes{
    display: flexbox;
}

.zoidberg{
    display: block;
}
.redes{
    background-color: black;
    text-align: center;
    padding: 20px;
}

.facebook:hover{
    transform: scale(3);
}
.instagram:hover{
    transform: scale(3);
}

.twitter:hover{
transform: scale(3);
}